main {
    padding-top: 11vh;
    width: 100vw;
    z-index: 0;
    background-color: rgb(92, 73, 73);
}
.slideshow-container1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    margin: auto;
    overflow: hidden; /* Nasconde l'overflow */
}
.slideshow1-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adatta l'immagine al contenitore mantenendo il rapporto di aspetto */
    object-position: center; /* Centra l'immagine all'interno del contenitore */
}
.fade1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: fade;
    animation-duration: 2s;
    background-size: cover;
    background-position: center;
}
.prev1, .next1 {
    cursor: pointer;
    position: absolute;
    top: 50vh;
    width: auto;
    margin-top: -2.2vh;
    padding: 1.6vw;
    color: white;
    font-weight: bold;
    font-size: 1.8vh;
    transition: 0.0s ease;
    border-radius: 0 0.3vh 0.3vh 0;
    user-select: none;
}
.next1 {
    right: 0;
    border-radius: 0.3vw 0 0 0.3vw;
}
.prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
}
@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

.Bshow {
    background-color: rgb(148, 7, 139); /* Imposta il colore di sfondo del rettangolo */
    height: 80vh; /* Imposta l'altezza del rettangolo */
    width: 100vw; /* Imposta la larghezza del rettangolo in modo che si estenda per tutta la larghezza dell'header */
    position: relative; /* Posiziona il rettangolo in modo assoluto rispetto al suo contenitore */
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
.Cshow {
    background-color: rgb(7, 14, 148); /* Imposta il colore di sfondo del rettangolo */
    height: 60vh; /* Imposta l'altezza del rettangolo */
    width: 100vw; /* Imposta la larghezza del rettangolo in modo che si estenda per tutta la larghezza dell'header */
    position: relative; /* Posiziona il rettangolo in modo assoluto rispetto al suo contenitore */
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
