footer {
    background-color: #000000;
    color: #fff;
    padding: 2vh 0;
    text-align: center;
    bottom: 0hv;
}
.footer-logo {
    width: auto;
    height: 15vh;
    display: block;
    position: relative;
}
.footer-container {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2vw;
}
.footsec {
    flex: 1;
    min-width: 3vw;
    margin: 2vh 0;
}
.footsec h4 {
    margin-bottom: 1vh;
    font-size: 3vh;
}
.footsec p, .footsec a {
    font-size: 2vh;
    color: #ccc;
}
.footsec a:hover {
    color: #fff;
}
.footsec ul {
    list-style: none;
    padding: 0;
}
.footsec ul li {
    margin-bottom: 0.5vh;
}
.footsec ul li a {
    text-decoration: none;
}
.newsletter input[type="email"] {
    padding: 1vh;
    margin-right: 1vw;
    border: none;
    border-radius: 0.4vh;
}
.newsletter button {
    padding: 1vh 2vw;
    border: none;
    background-color: #940707;
    color: #fff;
    border-radius: 0.4vh;
    cursor: pointer;
}
.newsletter button:hover {
    background-color: #940707;
}

/*######################################## viewports < 500 px ########################################*/

@media screen and (max-width: 500px) {
    footer {
        background-color: #000000;
        color: #fff;
        padding: 2vh 0;
        text-align: center;
    }
    .footer-logo {
        width: auto;
        height: 15vh;
        display: block;
        position: relative;
    }
    .footer-container {
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 2vw;
        flex-direction: column;
    }
    .footsec {
        flex: 1;
        min-width: 3vw;
        margin: 2vh 0;
    }
    .footsec h4 {
        margin-bottom: 1vh;
        font-size: 3vh;
    }
    .footsec p, .footsec a {
        font-size: 2vh;
        color: #ccc;
    }
    .footsec a:hover {
        color: #fff;
    }
    .footsec ul {
        list-style: none;
        padding: 0;
    }
    .footsec ul li {
        margin-bottom: 0.5vh;
    }
    .footsec ul li a {
        text-decoration: none;
    }
    .newsletter input[type="email"] {
        padding: 1vh;
        margin-right: 1vw;
        border: none;
        border-radius: 0.4vh;
    }
    .newsletter button {
        padding: 1vh 2vw;
        border: none;
        background-color: #940707;
        color: #fff;
        border-radius: 0.4vh;
        cursor: pointer;
    }
    .newsletter button:hover {
        background-color: #940707;
    }
}
